.App {
  text-align: center;
  padding-left: 450px;
  padding-top: 120px;
}

#root{
  display:flex;
  justify-content:center;
}
/*
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  background-color: red;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}*/

.App-link {
  color: #09d3ac;
}
form {
  background-color: #4CAF50;
  text-align: center;
  padding-top: 225px;
} 
#label{
  width: 10%;
  font-size:35px;
}
/* Full-width inputs */
input {
  width: 10%;
  padding: 12px 20px;
  margin: 8px 0;
  border: 32px ;
  background-color: blanchedalmond;
}

/* Set a style for all buttons */
button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}